@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Source Code Pro', sans-serif;
    background: #37383c;
}
header, main{
    padding-top: 1rem;
}
.logo{
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    line-height: 3rem;
}
.logo:after, .logo:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #fff;
    transition: transform .2s;
}
.logo:after {
    transform: translate(6px, 6px); }
.logo:before {
    transform: translate(-6px, -6px); }
.logo:hover:after, .logo:hover:before {
    transform: translate(0);
    cursor:pointer;
}
.logo > a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #FFD152;
    font-weight: 900;
}
.image > img{
    border-radius: 100%;
    border: 3px solid #fff;
    width: 200px;
}
.message{
    padding: 1rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}
.label > p{
    text-decoration: underline;
    text-decoration-color: #FFD152;
    text-decoration-thickness: 2px;
    font-size: 1.2rem;
}
.project_name > a{
    text-decoration: none;
    color: #FFD152;
}
.project_tools{
    font-size: 0.9rem;
    opacity: 0.4;
}

.links a > img{   
    width: 30px;
}
